@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body
{
  margin: 0;
  background-image: linear-gradient(to left bottom, #120f19, #14101e, #161122, #181227, #1a122b);

  color: #8A8596;
  font-family: 'Noto Sans JP', sans-serif;
}

.container { padding: 0 32px; }

.usernameContainer 
{
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 32px 0px;
}

.title { font-size: 28px; color: white;}

.descriptionContainer
{
  background: rgb(27,32,52);
  background: linear-gradient(90deg, rgba(27,32,52,1) 64%, rgba(21,20,32,1) 100%);

  margin-top: 32px;

  padding: 18px 32px;
  margin: 0 -32px;
}

.titleDescription { color: #5B89D0; margin-bottom: 10px; }
.description { color: #536278; width: 480px }

.messageDate
{
  text-align: center;

  margin: 32px 0;
  font-weight: 100;
}

.messageFromUser > .conversationContainer { flex-direction: row-reverse; }
.messageFromOtherUser .message { background-color: #222236;}
.messageFromUser .message { background-color: #6549F1; color: white;}

.messageTitle 
{ 
  text-align: center; 
  padding: 20px 0;
  font-size: 14px;
  color: rgb(40, 190, 40);
}

.conversationContainer { display: flex; gap: 12px; }

.profilImage
{
  background-image: url(images/user2-profil.jpg);
  background-size: cover;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.message
{
  width: max-content;
  max-width: 340px;
    
  border-radius: 24px;
  
  padding: 7px 24px;
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 32px;
}


.messageDestinationInputContainer
{
  display: flex;
  gap : 8px;

  margin-bottom: 12px;
}
.messageDestinationInputContainer:first { margin-top : 152px; }
.messageDestinationInputContainer > input { flex-grow : 1; }

.input
{
  background-color: transparent;

  font-size: 16px;
  color: #777474;

  border: #777474 1px solid;
  border-radius: 8px;

  padding: 12px 20px;
}
input:focus { outline: none; color: white; }
input::placeholder { font-size: 16px; }