/* Shared */
@font-face
{
    
    font-family: 'NetflixSans';
    src: url('fonts/NetflixSans.woff2') format('woff2');
}


*
{
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: 'NetflixSans';  
    color: #fff;
    
    font-weight : 400;
    -webkit-font-smooting: antialiased; 
}

body { background: black; }

input { border : none; }
input:focus { outline : none; }

h1
{
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.06;

    width : 600px;
}
@media(max-width : 630px) { h1 {  width: 500px;} }
@media(max-width : 550px) { h1 { font-size: 1.75rem; width: 400px; line-height: 1.1;} }

/* Width en percent plutôt */

h2 { font-size: 1.5em; font-weight: 100; line-height: 1.4em; letter-spacing: 0.04em;}
@media(max-width : 950px) { h2 { font-size: 1.2rem; text-align: center;} }
@media(max-width : 550px) { h2 { font-size: 1.04rem; } }

h3
{
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.08;

    margin-bottom: 0.4em;
}
@media(max-width : 950px) { h3 { font-size: 2.5rem; text-align: center;} }
@media(max-width : 550px) { h3 { font-size: 2.5rem; text-align: center;} }
@media(max-width : 500px) { h3 { font-size: 1.625rem; text-align: center;} }

.page-separator
{ 
    background: #222223;
    
    width: 100%;
    height: 8px;
}


/* Header */
header
{ 
    display: flex;
    justify-content : space-between;

    position : absolute;  

    width : 100%;

    margin-top : 28px;
}

.logo { margin-left : 50px; width: 140px; }
@media(max-width : 950px) { .logo { margin-left: 30px; transform: scale(0.9); margin-top: -8px;} }
@media(max-width : 550px) { .logo { margin-left: 0px; height: 50px; transform: scale(0.6); margin-top: -20px} }

.sign-in-button
{
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #fff;

    background-color: red;

    margin-right : 56px;
    padding: 7px 17px;

    height : 100%;

    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 3px;
    cursor: pointer;
}

.sign-in-button:hover { opacity: 0.9; text-decoration: none;}
@media(max-width : 950px) { .sign-in-button { margin-right: 45px;} }
@media(max-width : 550px) { .sign-in-button { padding: 4px 8px; margin-right: 27px; font-size: .9rem; margin-top: -10px;} }


/* Home-page */
.home-page
{
    box-shadow :
        inset 480px 400px 1000px rgba(0,0,0,0.4),
        inset -480px -400px 1000px rgba(0,0,0,0.4),
        inset 120px 100px 250px rgba(0,0,0,0.5),
        inset -120px -100px 250px rgba(0,0,0,0.5);
    background: url(images/backgroung.jpg) no-repeat center center / cover;

    height: 715px;
}
@media(max-width : 550px) { .home-page { height: 527px; } }

.home-page-container
{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    
    padding-top : 230px;
}
@media(max-width : 950px) { .home-page-container { padding-top: 212px; } }
@media(max-width : 550px) { .home-page-container { padding-top: 135px; margin-top: 10px; } }

.main-page-subtitle { font-size: 1.625rem; margin-top : 16px; font-weight: 400; }
@media(max-width : 950px) { .main-page-subtitle { font-size: 1.51rem; margin-bottom: -17px; } }
@media(max-width : 600px) { .main-page-subtitle { width: 450px; } }
@media(max-width : 550px) { .main-page-subtitle { font-size: 1.125rem; } }

.main-page-paragraph
{
    width: 900px;
    line-height : 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 100;

    margin-top : 28px;
    margin-bottom : 20px;
}
@media(max-width : 950px) { .main-page-paragraph { font-size: 23px; width: 450px; line-height: 1.8rem; margin-top: 33px; }  }
@media(max-width : 750px) { .main-page-paragraph { font-size: 18px; line-height: 1.45rem; }  }
@media(max-width : 650px) { .main-page-paragraph { width: 420px; }  }
@media(max-width : 600px) { .main-page-paragraph { width: 400px; }  }
@media(max-width : 560px) { .main-page-paragraph { width: 370px; }  }
@media(max-width : 550px) { .main-page-paragraph { font-size: 1.125rem; line-height: 1.5rem; width: 350px; } }

.email-form { display: flex; }

.email-input 
{
    font-size: 16px; 
    color : #8c8c8c;

    height : 40px;
    width : 440px;

    margin-left : 10px;
    margin-top : 10px;
}
@media(max-width : 750px) { .email-input { margin-top: 0; width : 340px; height: 45px; font-size: 14px;} }
@media(max-width : 600px) { .email-input { width : 270px;} }
@media(max-width : 550px) { .email-input { width : 240px;} }

.email-input::placeholder { color : #999; }


.email-container, .email-form-submit-button { height : 60px; font-size: 1.625rem; }

.email-container { background-color : white; width : 450px; border-radius: 1px 0px 0px 1px; }
@media(max-width : 750px) { .email-container { height: 48px; width : 350px;} }
@media(max-width : 600px) { .email-container { width : 280px;} }
@media(max-width : 550px) { .email-container { width : 250px;} }

.email-form-submit-button
{ 
    background-image : linear-gradient(to bottom,#e50914,#db0510);

    padding: 10px 0px ;
    padding-right: 20px;
    padding-left: 24px;
    margin-left: 2px;

    width : 220px;
    line-height: 40px;
    font-size: 1.625rem;

    border-radius: 0px 1px 1px 0px;

    cursor: pointer;
}
.email-form-submit-button:hover { filter: brightness(1.2); }
@media(max-width : 750px) {.email-form-submit-button
{
    font-size: 17px; 
    line-height: 30px;

    padding-right: 10px;
    padding-left: 14px;

    width: 150px;
    height: 48px;
} }
@media(max-width : 550px) {.email-form-submit-button
    {
        font-size: 17px; 
    
        padding-right: 5px;
        padding-left: 10px;
    
        width: 130px;
    } }

.next-icon { width: 17px; margin-left : 4px; }
@media(max-width : 750px) { .next-icon { width: 12px;} }
@media(max-width : 550px) { .next-icon { width: 11px; margin-left: 2px;} }


/* TV Page */
.tv-page { display: flex; align-items: center; }

.tv-container
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;

    margin: auto;

    padding: 110px 0px;
    margin-bottom : 9px;
    margin-top: 9px;
}
@media(max-width : 1210px) { .tv-container 
{ 
    display: flex; 
    justify-content: space-between; 
    margin-left: 50px; 
} }
@media(max-width : 950px) { .tv-container
{ 
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90%;

    margin: auto;
    margin-top: -45px;
    margin-bottom: 90px;

    z-index: -1; 
} }
@media(max-width : 650px) { .tv-container { margin-bottom: 50px; } }
@media(max-width : 550px) { .tv-container { margin-top: -60px; margin-bottom: 20px; } }

.tv-titles { width: 41.1%; margin-left: 25px; }
@media(max-width : 1360px) { .tv-titles { width: 44%; } }
@media(max-width : 1260px) { .tv-titles { width: 100%; margin-left: -5px} }
@media(max-width : 650px) { .tv-titles h3 
{
    width: 80%; 

    margin: auto; 
    margin-top: 0px; 
    margin-bottom: 15px;

    line-height: 1.1em; 
} }
@media(max-width : 550px) { .tv-titles h3 { margin-bottom: 13px; } }

.tv-image-container { margin-top : -122px; margin-left: 63px;}
@media(max-width : 1250px) { .tv-image-container { margin-right: -10px; } }
@media(max-width : 1200px) { .tv-image-container { margin-right: -60px; } }
@media(max-width : 1150px) { .tv-image-container 
{ 
    transform: scale(0.9); 

    z-index: -1; 

    margin-right: -60px; 
    margin-left: 0px;
} }
@media(max-width : 950px) { .tv-image-container 
{ 
    transform : scale(1.1); 

    margin-top: -20px; 
    margin-left: 0px; 
    margin-right: 0;
} }
@media(max-width : 650px) { .tv-image-container { transform : scale(1.05); margin-bottom: 30px; margin-top: -40px;} }
@media(max-width : 600px) { .tv-image-container { transform : scale(0.95); margin-bottom: 0px; } }
@media(max-width : 550px) { .tv-image-container { transform : scale(0.85); } }
@media(max-width : 500px) { .tv-image-container { margin-bottom: -20px; transform : scale(0.7); } }

.tv-animation
{
    margin-top : -317px;
    margin-left : 72px;

    display: block;

    width : 380px;
}


/* Mobile Page */
.mobile-page { display: flex; align-items: center; }

.mobile-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 82%;

    margin: auto;
    margin-bottom : 77px;
    margin-top: 77px;
    margin-left: 181px;
}
@media(max-width: 1400px) { .mobile-container { margin-left: 150px; } } 
@media(max-width: 1320px) { .mobile-container { margin-left: 80px; } } 
@media(max-width: 1150px) { .mobile-container { margin-left: 40px; } } 
@media(max-width: 950px) { .mobile-container
{ 
    display: flex; 
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 70px;
    margin-bottom: 130px;

} }
@media(max-width: 550px) { .mobile-container { margin-top: 50px; margin-bottom: 75px; } } 

.mobile-image-container { z-index : -1; margin-left: -85px; margin-top : 10px;} 
@media(max-width: 1150px) { .mobile-image-container { transform : scale(0.9); } } 
@media(max-width: 950px) { .mobile-image-container { transform : scale(1.2); margin-top : 80px; margin-left: 0px; } } 
@media(max-width: 550px) { .mobile-image-container { transform: scale(0.9); margin-top: 20px; } }
@media(max-width: 500px) { .mobile-image-container { transform: scale(0.8); } }

.stranger-things-container
{
    display: flex;
    position: relative;
    justify-content: space-around;

    height: 95px;
    width: 330px;
    
    padding: .7em .85em;
    padding-bottom : 1em;
    margin-top : -123px;
    margin-left: 85px;
    
    border: 2px #3F3F3F solid;
    border-radius: 12px;
    
    background-color: black;
}
@media(max-width: 950px) 
{
    .stranger-things-container
    {
        display: flex;
        justify-content: space-between;

        transform: scale(0.8);

        width: 400px;
        height: 90px;

        margin-left: 46px;
        margin-top: -110px;
    }   
}
@media(max-width: 550px) { .stranger-things-container 
{
    width: 410px; 

    border: 3px #3F3F3F solid;
} }

.image-stranger-things { transform : scale(1.1); }
@media(max-width : 550px) { .image-stranger-things { width: 50px;} }

.mobile-download-animation { height: 3.75em; margin-right: -7px;}
@media(max-width : 550px) { .mobile-download-animation{ margin-right: 5px} }

.text-content { margin-top: 15px; margin-left: 16px; line-height: 1.3; }
@media(max-width : 950px) { .text-content{ margin-left: -60px; margin-top: 15px; font-size: 17px;} }
@media(max-width : 550px) { .text-content{ margin-left: -30px; margin-top: 10px; font-size: 20px;} }

.text-download { font-size: 14px; color:#0071EB; }
@media(max-width : 550px) { .text-download { font-size: 16px;} }

.mobile-image { margin-top: -60px; }

.mobile-titles {width: 48%; margin-right: 70px;} 
@media(max-width : 1350px) { .mobile-titles{ width: 60%; margin-right: 0px; margin-left: 130px;} }
@media(max-width : 1320px) { .mobile-titles{ width: 100%; margin-right: -50px;} }
@media(max-width : 1250px) { .mobile-titles{ margin-left: 90px;} }
@media(max-width : 1200px) { .mobile-titles{ margin-left: 50px;} }
@media(max-width : 1150px) { .mobile-titles{ margin-left: 30px; margin-right: -80px;} }
@media(max-width : 950px) { .mobile-titles{ margin-left: 0px; margin-right: 0px;} }
@media(max-width : 750px) { .mobile-titles{ width: 110%;} }
@media(max-width : 660px) { .mobile-titles{ width: 100%;} }
@media(max-width : 550px) { .mobile-titles h3 { margin-bottom: 13px;} }


/* Computer Page */
.computer-page { display: flex; align-items: center; }
@media(max-width : 1100px) { .computer-page{ margin-bottom: 100px;} }
@media(max-width : 950px) { .computer-page{ margin-bottom: 250px; margin-top: -80px; } }
@media(max-width : 650px) { .computer-page{ margin-bottom: 160px; margin-top: -80px; } }
@media(max-width : 550px) { .computer-page{ margin-bottom: 120px; margin-top: -150px; } }

.computer-container
{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-left: 170px;
    margin-bottom: 183px;
    margin-top: -30px;
}
@media(max-width : 1450px) { .computer-container{ width: 85%; margin-left: 150px; } }
@media(max-width : 1300px) { .computer-container{ width: 94%; margin-left: 50px; } }
@media(max-width : 1100px) { .computer-container{ margin-top: -50px; margin-bottom: 65px; margin-right: -30px; } }
@media(max-width : 1002px) { .computer-container{ margin-top: -80px; margin-bottom: 0px; } }
@media(max-width : 950px) { .computer-container 
{ 
    display: flex; 
    flex-direction: column; 

    margin: auto;
    margin-top: -30px;
    margin-bottom: 15px;
} }
@media(max-width : 550px) { .computer-container{ margin-top: 20px; margin-bottom: } }

.computer-image-container { margin-right: 73px; margin-top: 16px; transform: scale(1.01); }
@media(max-width : 1400px) { .computer-image-container{ margin-right: -50px;} }
@media(max-width : 1230px) { .computer-image-container{ transform: scale(1); margin-right: -10px;} }
@media(max-width : 1160px) { .computer-image-container { transform: scale(0.95); margin-right: -30px;} }
@media(max-width : 1060px) { .computer-image-container { transform: scale(0.85); margin-right: -60px;} }
@media(max-width : 950px) { .computer-image-container { transform: scale(1.1); z-index: -1; margin-right: 0px;} }
@media(max-width : 650px) { .computer-image-container { transform : scale(1); margin-bottom: 65px;} }
@media(max-width : 600px) { .computer-image-container { transform : scale(0.9); margin-bottom: 50px; margin-top: -20px;} }
@media(max-width : 550px) { .computer-image-container { margin-bottom: 60px; margin-top: -20px; transform : scale(0.75);} }
@media(max-width : 500px) { .computer-image-container { transform : scale(0.7);} }

.computer-titles  { width : 45%; margin-top: 208px;}
@media(max-width : 1200px) { .computer-titles { width: 50%; } }
@media(max-width : 1160px) { .computer-titles { width: 60%; } }
@media(max-width : 1002px) { .computer-titles { margin-top: 180px; } }
@media(max-width : 950px) { .computer-titles { width: 98%; } }
@media(max-width : 600px) { .computer-titles { width: 90%; } }
@media(max-width : 550px) { .computer-titles { width: 95%; } }
@media(max-width : 550px) { .computer-titles h2{ margin-top: 13px; } }

.computer-animation
{
    margin-top : -370px;
    margin-left : 97px;

    display: block;

    position: relative;
    z-index: -1;

    width : 350px;
}


/* FAQ Page */
.faq-page
{
    padding: 70px 45px;
    margin-bottom: 12px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(max-width : 500px) { .faq-page { padding: 50px 0px;} } 

.faq-list
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 25px;
    margin-bottom: 40px;

    font-size: 1.625rem;
    font-weight: 400;
    list-style: none;
 
    width: 815px;
}
@media(max-width : 1250px) { .faq-list { width: 750px; } } 
@media(max-width : 1050px) { .faq-list { width: 720px; } }
@media(max-width : 1000px) { .faq-list { width: 680px; } }
@media(max-width : 950px) { .faq-list 
{ 
    font-size: 1.25rem; 
    width: 770px; 
    margin-top: 8px;
    margin-bottom: 0px;
} }  
@media(max-width : 800px) { .faq-list { width: 640px; } }
@media(max-width : 750px) { .faq-list { width: 580px; } }  
@media(max-width : 650px) { .faq-list { width: 500px; } }  
@media(max-width : 600px) { .faq-list { width: 460px; } }  
@media(max-width : 550px) { .faq-list { width: 400px; font-size: 1rem; } }
@media(max-width : 500px) { .faq-list { margin-top: 5px; margin-bottom: -10px;} }  

.faq-item { background-color: #303030; padding: .8em 1.2em .8em 1.2em; }
@media(max-width: 550px) { .faq-item { max-height : 52px; } }
@media(max-width : 500px) { .faq-item { font-size: 1.125rem; } } 

@media(max-width : 550px) { .faq-item-large { width: 90%; } } 

.faq-answer 
{ 
    background-color: #303030; 
    padding: 1.2em; 

    display : none;
}

.faq-item
{
    display: flex;
    justify-content: space-between;

    margin-bottom: 1px;
    margin-top: 8px;

    cursor: pointer;
}

.faq-question-close-image { width: 23px; display : none; }
@media(max-width : 650px) { .faq-question-close-image { width: 17px; } } 
@media(max-width : 500px) { .faq-question-close-image { width: 15px; } } 

.faq-question-expand-image { width: 26px;}
@media(max-width : 650px) { .faq-question-expand-image { width: 20px; } } 
@media(max-width : 550px) { .faq-question-expand-image { width: 17px; } } 


.subscribe-bar { margin-top: 50px; text-align: center;}


/* Footer */
.footer-link-page { width : 900px; margin : auto; margin-top: 71px;  }
@media(max-width : 1350px) { .footer-link-page { margin-left: 180px; } }
@media(max-width : 1200px) { .footer-link-page { margin-left: 130px; } }
@media(max-width : 1100px) { .footer-link-page { margin-left: 100px; } }
@media(max-width : 1050px) { .footer-link-page { margin-left: 80px; } }
@media(max-width : 950px) { .footer-link-page { width: 800px; padding-left: 80px; margin-left: 0px;} }
@media(max-width : 800px) { .footer-link-page { width: 700px; } }
@media(max-width : 700px) { .footer-link-page { width: 600px; } }
@media(max-width : 620px) { .footer-link-page { width: 520px; } }
@media(max-width : 580px) { .footer-link-page { width: 500px; padding-left: 60px; } }
@media(max-width : 550px) { .footer-link-page { width: 400px; padding-left: 50px; } }

.footer-subtitle
{
    margin-top: 55px;
    margin-bottom: 25px;

    color: #757575; 

    font-size: 1em; 
}

.footer-mobile-number { color : #757575; text-decoration: none; font-size: 1em;}
.footer-mobile-number:hover { text-decoration: underline; }

.footer-link-container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2.5rem;
 

    margin-bottom: 100px;
}
@media(max-width : 1250px) { .footer-link-container { padding-right: 60px;} }
@media(max-width : 1050px) { .footer-link-container { padding-right: 70px; column-gap: 1.5rem; } }
@media(max-width : 950px) { .footer-link-container { padding-right: 80px; } }
@media(max-width : 700px) { .footer-link-container { padding-right: 0px; } }
@media(max-width : 580px) { .footer-link-container { padding-right: 50px; } }
@media(max-width : 550px) { .footer-link-container { padding-right: 0px; } } 

.footer-link-item
{
   flex-basis: 20%;


    margin : 9px 0px;

    color: #757575;
    font-size: 13px;
    text-decoration: none;

    cursor:pointer;
}

.footer-link-item:hover { text-decoration: underline; }
@media(max-width : 850px) { .footer-link-item { flex-basis: 25%; } }
@media(max-width : 550px) { .footer-link-item { flex-basis: 35%; } }

.footer-link-item-large
{
    color: #757575;
    font-size: 13px;
    text-decoration: none;

    margin-top: 8px;
    
    flex : 1 10%; 
}
@media(max-width : 850px) { .footer-link-item-large { padding-left: 55px; } }
@media(max-width : 800px) { .footer-link-item-large { padding-left: 45px; } }
@media(max-width : 700px) { .footer-link-item-large { padding-left: 40px; } }
@media(max-width : 620px) { .footer-link-item-large { padding-left: 30px; padding-right: 150px;} }
@media(max-width : 580px) { .footer-link-item-large { padding-left: 25px; } }
@media(max-width : 550px) { .footer-link-item-large { padding-left: 0px; } }

.footer-link-item-large:hover { text-decoration: underline; }
