body { font-family: Arial, Helvetica, sans-serif; }
p { color : white; margin : 0; }

.grid-container
{
    position : relative;

    background: url(./assets/background/background.jpeg) center center;
    background-size: cover;

    max-width: 600px;
    min-height: 800px;

    margin: 0 auto;
    padding: 15px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 75px);
    gap: 15px;

}

.grid-container::after
{
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;
    
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.grid-item
{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.big-grid-item
{
    
    grid-row: span 2;
    grid-column: span 2;

    display : grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.wifi-element
{
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    
    height: 54px;
    width: 54px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-wifi-element { background: #007aff; }
.green-wifi-element { background: #4cd964; }

.music-container
{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    justify-items: center;
}

.music-title
{
    grid-column: span 3;
    font-weight: 700;
}

.tall-grid-item
{
    grid-row: span 2;
    grid-column: span 1;
}

.brightness-container, .volume-container { position : relative; border-radius: 18px 18px 50px 50px; }

.brightness-container::after, .volume-container::after
{ 
    content: "";
    position: absolute;

    width : 100%;
    bottom : 0;

    background : white;
    border-radius: 0 0 18px 18px;
}
.brightness-container::after { height: 80%; }
.volume-container::after { height: 60%; }

.large-grid-item
{
    grid-row: span 1;
    grid-column: span 2;
}

.screen-container
{
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}


.brightness, .volume { z-index : 1}